language: java
sudo: false
install: true
addons:
  sonarqube:
    token:
      secure: "7910b7f68a96415b1da64e08c6eb0a352855417c"
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
